<p>error-page works!</p>

<ul>
    <li>
        <a routerLink="/auth/login">Go to login</a>
    </li>
    <li>
        <a routerLink="/auth/register">Go to register</a>
    </li>
    <li>
        <a routerLink="/heroes/list">Go to list</a>
    </li>
    <li>
        <a routerLink="/heroes/agregar">Go to agregar</a>
    </li>
    <li>
        <a routerLink="/heroes/edit/12">Go to edit</a>
    </li>
    <li>
        <a routerLink="/heroes/buscar">Go to buscar</a>
    </li>
    <li>
        <a routerLink="/heroes/13">Go to hero</a>
    </li>
</ul>
